*{
margin-left: 20px;
  
}

#submit-button{
color: white;
background-color:  rgb(0, 85, 255);;
border-color: rgb(0, 85, 255);

}

h1, p{
  margin-left: 35px;
}

#th-name{
  padding-left: 15px;

}
#th-URL{
  padding-left: 300px;

}
#th-remove{
  padding-left: 300px;

}